* {
    margin: 0;
}

body {
    background-color: paleturquoise;
}

header {
    padding: 10px;
    font-family: "Space grotesk";
    font-weight: 700;
}

#latest {
    font-family: "space grotesk";
    font-weight: 500;
    padding: 10px;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
    margin: 10px;
}

.imageContainer {
    width: 230px;
    font-family: "space grotesk";
    font-weight: 300;
    font-size: 12px;
    height: 255px;
    padding: 10px;
    background-color: white;
    border: 2px black solid;
}

.actualImage {
    width: 230px;
    height: 230px;
    overflow: hidden;
    object-fit: cover;
}

#uploadForm {
    padding: 10px;
}